/* @import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Quicksand:wght@300&display=swap");

.contact-page-container {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(161, 161, 161, 0.2);
    height: 100vh;
}

.background {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.square-container {
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content {
    text-align: center;
}

.head {
    color: #5E3BEE;
    font-family: 'Aclonica', sans-serif;
}

.head {
    font-size: 30px;
    font-weight: bold;
}

.social-links {
    margin-top: 40px;
}

.linkedin-image,
.github-image,
.facebook-image {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.email-image {
    width: 60px;
    height: 60px;
    margin: 15px 10px;
}

.copy-write {
    font-size: 14px;
    margin-top: 30px;
}

.background {
    background-color: #222831; 
  } */