.experience-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.experiences {
    background-color: #151412;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Add this if the .experience should take up the full width of the parent container */
}

.experience-title{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 6rem;
    color: grey;
}

.experience-cards{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .experience-cards{
        width: 100%;
       justify-content: left;
       align-items:  left;
    }
}