@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.project-card {
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s;
    overflow: hidden;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    height: 160px;
    object-fit: cover;
    width: auto;
}
.project-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    color: white;
    font-weight: 700;
    padding-left: 1rem;

}
.project-name {
    font-size: 1.2rem;
    color: white;
    /* text-decoration: underline; */
}

.project-description {
    color: white;
    font-size: 0.9rem;
    /* width: 50%; */
    padding-top: 0.3rem;
    font-weight: 300;
    height: 80px;
}

.project-tech {
    font-size: 0.9rem;
    padding-top: 0.3rem;

}

.project-link {
    position: relative;
    text-decoration: none;
    color: #007bff;
    transition: font-weight 0.3s; 
    padding-top: 1rem;

}

.project-link:hover {
    font-weight: bold;
}

.project-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #007bff;
    font-size: 0.7rem;
}

.project-content {
    flex: 1;
}

/* @media (min-width: 768px) {
    .project-card {
        align-items: center;
        flex-direction: column;
    }

    .project-content {
        width: 200%;
        margin-right: 20px;
    }

    .project-card img {
        width: 100%;
        margin-bottom: 0;
    }

    .project-description {
        font-size: 1rem;
    }

    .project-tech {
        font-size: 1rem;
    }

    .project-link::after {
        font-size: 0.9rem;
    }
} */