@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: fadeIn 2s ease-in-out;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 30%;
    height: 100%;
    border-radius: 15px;
    /* border: 2px solid #ddd;  */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    /*margin-bottom: 10px; */
    /* margin-left: 10px; */
    margin-right: 10%;
}
.project-card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    padding-right: 20px;
}
.project-name {
    margin: 0;
    font-size: 1rem;
    color: #333;
    text-decoration: underline;
}

.project-description {
    color: #666;
    font-size: 0.9rem;
    /* width: 50%; */
}

.project-tech {
    font-size: 0.9rem;
}

.project-link {
    position: relative;
    text-decoration: none;
    color: #007bff;
    transition: font-weight 0.3s; 
}

.project-link:hover {
    font-weight: bold;
}

.project-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #007bff;
    font-size: 0.7rem;
}

.project-content {
    flex: 1;
}

/* @media (min-width: 768px) {
    .project-card {
        align-items: center;
        flex-direction: column;
    }

    .project-content {
        width: 200%;
        margin-right: 20px;
    }

    .project-card img {
        width: 100%;
        margin-bottom: 0;
    }

    .project-description {
        font-size: 1rem;
    }

    .project-tech {
        font-size: 1rem;
    }

    .project-link::after {
        font-size: 0.9rem;
    }
} */