
.TechStack{
  overflow: auto;
  width: 100vw;
  background-color: #151412;
}

.TechStack-container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;;
    text-align: left;
    font-style: normal;
    margin-top: 1rem;
}

/* .header {
    font-family: "Roboto Slab", serif;
    color: #B0DDEB;
    font-size: 2rem;
    padding-top:  3rem;
    padding-bottom: 1rem;
    padding-left: 5%;
    animation: fadeInDown;
    animation-duration: 2s;
    
} */

.technologies {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    list-style-type: none;
  }
  
  .technologies img {
    width: 100px; 
    height: 100px; 
    margin: 0 20px;
  }

  .technologies p {
    font-size: 1rem;
    margin-top: -0.9rem; 
    color: white;
  }

  .tech-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .tech-icon:hover {
    transform: scale(1.2);
  }

    @media (max-width: 767px) {
      .technologies {
        /* flex-direction: column; */
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-top: 2rem;
      }
    }