@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.volunteer-page-container {
    align-items: center;
    justify-content: center;

}

.volunteer-page {
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;

}

.Hackathon {
    width: 80%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 7rem;
}

.Hackathon h1 {
    font-size: 2rem;
    color: #333;
}

.head-mini {
    display: flex;
    font-size: 1rem;
    color: #a0a0a0;
}

.date {
    color: #a0a0a0;
}

.companies {
    text-decoration: underline;
}

.description {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 20px;
}